/* Variables */

$font-style-heading:'Great Vibes',
cursive;
$font-color-footer-content: white;
$font-color-header-nav: black;
$bg-color-footer: black;
$bg-color-labels: hsla(145, 80%, 0%, 0.6);
$border-top-nav: 1px solid hsla(145, 80%, 0%, 0.6);

/* remove all padding & margin */

* {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    padding: 20px;
}

.flex-container {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    h1 {
        // border: 1px solid blue;
        font-family: $font-style-heading;
        font-size: 250%;
    }
    h4 {
        // border: 1px solid red;
        word-spacing: 20px;
        padding-top: 10px;
        font-size: 120%;
        font-weight: 100;
        i {
            font-size: 110%;
        }
    }
}


/* Top - Nav */

.top-nav {
    border-bottom: $border-top-nav;
    border-top: $border-top-nav;
    padding: 10px;
    a {
        color: $font-color-header-nav;
        text-decoration: none;
        font-size: 90%;
    }
}